In [1]:
import pandas as pd
import re

In [2]:
df_SD=pd.read_csv("./Resources/listings_SD.csv", encoding='utf-8')
df_SD.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,4.747585e+07,https://www.airbnb.com/rooms/47475849,2.023030e+13,3/25/2023,previous scrape,"WELCOME to ""WORLD MAP SUITE"" in the heart of P...",Welcome to my home! <br /><br />The “WORLD MAP...,NaN,https://a0.muscache.com/pictures/0e0be955-e28b...,380705136,...,5.0,5.0,5.0,NaN,t,1,0,1,0,0.04
1,8.321610e+17,https://www.airbnb.com/rooms/832160725075323156,2.023030e+13,3/25/2023,city scrape,"""Pool Villa & Guest House""","""Luxury Pool Villa With Detached Guest House"" ...",Point Loma is a historic upscale residential c...,https://a0.muscache.com/pictures/miso/Hosting-...,133875247,...,NaN,NaN,NaN,STR-06234L,f,2,2,0,0,NaN
2,2.979673e+07,https://www.airbnb.com/rooms/29796733,2.023030e+13,3/25/2023,previous scrape,PB LIFE,Located in the highly sought out Crown Point n...,NaN,https://a0.muscache.com/pictures/e105cd5d-9093...,18019435,...,5.0,5.0,5.0,NaN,f,1,0,1,0,0.02
3,5.164055e+07,https://www.airbnb.com/rooms/51640548,2.023030e+13,3/25/2023,previous scrape,Lovely two story apartment Gaslamp / East Village,Enjoy a stylish experience at this centrally-l...,NaN,https://a0.muscache.com/pictures/8d58b68f-f762...,114086418,...,5.0,5.0,5.0,NaN,t,1,1,0,0,0.05
4,7.263140e+17,https://www.airbnb.com/rooms/726314173554301905,2.023030e+13,3/25/2023,city scrape,Mid-Century Modern House,This beautiful Mid-Century Modern home is the ...,North Park is a vibrant and diverse neighborho...,https://a0.muscache.com/pictures/miso/Hosting-...,461934073,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN

In [3]:
df_SD.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [4]:
#finding the items in each row 
amenities=df_SD["amenities"].str.replace("[", "",regex=True).str.replace("]","",regex=True).str.replace('"','',regex=True).str.split(", ", expand=True)

amenities=amenities.T
amenities.head()

,0,1,2,3,4,5,6,7,8,9,...,12861,12862,12863,12864,12865,12866,12867,12868,12869,12870
0,Baby bath,Cleaning available during stay,Washer,Smoke alarm,Washer,Washer,Self check-in,Refrigerator,Washer,Refrigerator,...,Refrigerator,Washer,Washer,Washer,Washer,Washer,Refrigerator,Bed sheets and pillows,Bed sheets and pillows,Mini fridge
1,Iron,Iron,Hot tub,Security cameras on property,BBQ grill,Refrigerator,Security cameras on property,Iron,Host greets you,Iron,...,Iron,TV,Smoke alarm,Refrigerator,Hot tub,Refrigerator,Iron,Toiletries,Toiletries,Hair dryer
2,Safe,Safe,Smoke alarm,TV,First aid kit,Iron,Keypad,Security cameras on property,Smoke alarm,Security cameras on property,...,Stove,Host greets you,TV,Hair dryer,Breakfast,Iron,Safe,Smoke alarm,Iron,Bed sheets and pillows
3,Lock on bedroom door,Security cameras on property,Dryer,Wifi,Air conditioning,Dryer,None,Stove,Security cameras on property,Pack \u2019n play/Travel crib,...,Self check-in,Kitchen,Wifi,Free street parking,Hot water,Dryer,Paid washer \u2013 In building,Coffee maker,Safe,HDTV
4,First aid kit,Table corner guards,Lock on bedroom door,First aid kit,Carbon monoxide alarm,Stove,None,Pack \u2019n play/Travel crib,TV,Window guards,...,Carbon monoxide alarm,None,Kitchen,Iron,Essentials,Stove,Dedicated workspace,Heated pool \u2014 outdoor,BBQ grill,Iron

In [6]:
#finding unique amenities for each unit (this is just a test to make sure we don't have double entries)
amenities_list_unit=[]
for i in range(0, len(df_SD)):
    temp=amenities[i].unique()
    amenities_list_unit.append(temp)

In [8]:
amenities_count=[]
for i in range(0, len(df_SD)):
   t=len(amenities_list_unit[i])
   amenities_count.append(t)

amenities_count=pd.DataFrame(amenities_count).rename(columns={0:"amenities_count"})
df_SD_2=pd.concat([df_SD , amenities_count], axis=1)
df_SD_2.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,amenities_count
0,4.747585e+07,https://www.airbnb.com/rooms/47475849,2.023030e+13,3/25/2023,previous scrape,"WELCOME to ""WORLD MAP SUITE"" in the heart of P...",Welcome to my home! <br /><br />The “WORLD MAP...,NaN,https://a0.muscache.com/pictures/0e0be955-e28b...,380705136,...,5.0,5.0,NaN,t,1,0,1,0,0.04,33
1,8.321610e+17,https://www.airbnb.com/rooms/832160725075323156,2.023030e+13,3/25/2023,city scrape,"""Pool Villa & Guest House""","""Luxury Pool Villa With Detached Guest House"" ...",Point Loma is a historic upscale residential c...,https://a0.muscache.com/pictures/miso/Hosting-...,133875247,...,NaN,NaN,STR-06234L,f,2,2,0,0,NaN,81
2,2.979673e+07,https://www.airbnb.com/rooms/29796733,2.023030e+13,3/25/2023,previous scrape,PB LIFE,Located in the highly sought out Crown Point n...,NaN,https://a0.muscache.com/pictures/e105cd5d-9093...,18019435,...,5.0,5.0,NaN,f,1,0,1,0,0.02,17
3,5.164055e+07,https://www.airbnb.com/rooms/51640548,2.023030e+13,3/25/2023,previous scrape,Lovely two story apartment Gaslamp / East Village,Enjoy a stylish experience at this centrally-l...,NaN,https://a0.muscache.com/pictures/8d58b68f-f762...,114086418,...,5.0,5.0,NaN,t,1,1,0,0,0.05,10
4,7.263140e+17,https://www.airbnb.com/rooms/726314173554301905,2.023030e+13,3/25/2023,city scrape,Mid-Century Modern House,This beautiful Mid-Century Modern home is the ...,North Park is a vibrant and diverse neighborho...,https://a0.muscache.com/pictures/miso/Hosting-...,461934073,...,NaN,NaN,NaN,f,1,1,0,0,NaN,34

In [9]:
#putting all the amenities in all units in one list (there are for sure duplicates)
amenities_list_all=[]
for i in range(0, len(amenities_list_unit)):
    amenities_list_all=list(amenities_list_unit[i])+amenities_list_all

In [10]:
#all uniques amenities in SD
unique_amenities=pd.DataFrame(pd.DataFrame(amenities_list_all)[0].unique())
unique_amenities.head()

                        0
0             Mini fridge
1              Hair dryer
2  Bed sheets and pillows
3                    HDTV
4                    Iron

In [11]:
#finding the top amenities
amenities=pd.DataFrame(amenities_list_all).rename(columns={0:"amenities"})
amenities_stat=amenities.groupby("amenities")['amenities'].count().sort_values(ascending=False)
pd.DataFrame(amenities_stat).head(10)

                       amenities
amenities
Smoke alarm                12442
Carbon monoxide alarm      11667
Kitchen                    11593
Essentials                 11555
Wifi                       11505
Hangers                    10814
Hair dryer                 10604
Dishes and silverware      10521
Hot water                  10481
Iron                       10246

In [12]:
amenities[amenities["amenities"]=="Sub zero refrigerator"]

                    amenities
485536  Sub zero refrigerator
485807  Sub zero refrigerator
491489  Sub zero refrigerator
516673  Sub zero refrigerator

In [13]:
df_SD_2["bathrooms_text"].unique()

array(['1 private bath', '4 baths', '1.5 baths', '2 baths', '1 bath',
       '0 shared baths', '23 baths', '5 baths', '2 shared baths',
       '8.5 baths', '1 shared bath', '3 baths', '2.5 baths', '11 baths',
       '7 baths', '5.5 baths', '14 baths', '8 baths', '4.5 baths',
       '9.5 baths', '6 baths', '3.5 baths', '9 baths', '7.5 baths',
       '6.5 baths', '33.5 baths', '10 baths', '1.5 shared baths',
       '12.5 baths', '0 baths', '3 shared baths', '2.5 shared baths',
       '4 shared baths', '3.5 shared baths', '6 shared baths', '20 baths',
       nan, '27.5 baths', 'Half-bath', '4.5 shared baths',
       '5.5 shared baths', '6.5 shared baths', '5 shared baths',
       '8 shared baths', 'Shared half-bath'], dtype=object)